{% set header = "Streamline your volunteer activity recordkeeping and compliance workflow." %}
{% set desc = "Tired of logging into a separate system (or worse, a spreadsheet) and using valuable time to log and verify CRA volunteer hours? Make it easy for employees to report their volunteer activities by logging hours directly from their Outlook calendar."%}
<section class="section is-large">
  <div class="page-container">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell large-5 large-offset-1 content-container">
          <div class="content">
            <h3 style="font-weight:bold">
              {{header}}
            </h3>
            <p>
              {{desc}}
            </p>
            <a class="button">REQUEST A DEMO</a>
            <a class="button" style="background-color:white; color: #0076cc">LEARN MORE</a>
          </div>
        </div>
        <div class="cell large-6">
          <div class="content">
            <img src="http://rappore.boyerwebstudios.com/imager/siteassets/74/placeholder_product_screenshot_76e2ad6757.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
