<section class="section is-small">
  <div class="page-container">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell large-3">
          <div class="content">
            <h3 style="font-weight:bold ">
              <a>rappore</a>
            </h3>
            <p>A regTech start-up simplifying CRA compliance through innovation</p>
          </div>
        </div>
        <div class="cell large-2 large-offset-3">
          <div class="content">
            <p style="font-weight:bold">COMPANY</p>
            <ul class="vertical menu">
              <li style="list-style: none">
                <a style="color:grey" href="#">Home</a>
              </li>
              <li style="list-style: none">
                <a style="color:grey" href="#">Products</a>
              </li>
              <li style="list-style: none">
                <a style="color:grey" href="#">About</a>
              </li>
              <li style="list-style: none">
                <a style="color:grey" href="#">Get in touch</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="cell large-2">
          <div class="content">
            <p style="font-weight:bold">APP</p>
            <ul class="vertical menu">
              <li style="list-style: none">
                <a style="color:grey" href="#">Login</a>
              </li>
              <li style="list-style: none">
                <a style="color:grey" href="#">Request a demo</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="cell large-2">
          <div class="content">
            <p style="font-weight:bold">CONTACT US</p>
            <ul class="vertical menu">
              <li style="list-style: none">
                <a style="color:grey" href="#">General contact</a>
              </li>
              <li style="list-style: none">
                <a style="color:grey" href="#">Support</a>
              </li>
              <li style="list-style: none">
                <a style="color:grey" href="#">info@rappore.io</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
