{% set header = "We create applications that make CRA compliance management easy." %}
{% set desc = "Rappore is a RegTech start-up that leverages innovation to help compliance officers tell their CRA story and demonstrate how bank associates serve their communities."%}
<section class="section is-large">
  <div class="page-container content-container">
    <div class="content">
      <h3 style="font-weight:bold">
        {{header}}
      </h3>
      <p>
        {{desc}}
      </p>
    </div>
  </div>
</section>
