{% set question = "Ready to see how Rappore can simplify your compliance workflow?" %}
<section class="section is-large is-dark" style="background-color: #003053">
  <div class="page-container">
    <div class="grid-container">
      <div class="grid-x grid-margin-x is-centered">
        <div class="cell large-8">
          <div class="content">
            <h3 style="font-weight:bold">{{question}}
              <a style="border-bottom: 3px solid">Request a demo.</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
